body {
  font-weight: 200;
  font-family:Avenir, Arial,sans-serif;
  margin: 0px;
  overflow-x: hidden;
}

.header {
  background-color: Black;
  width: 100vw;
  height:2vw;
  margin-top:-1.65vw;
  margin-bottom: auto;
  position:static;
}

.txtheader {
    letter-spacing: 0.25vw;
    font-size: 0.9vw;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 0.75vw;
}


.whitebox {
  background: white;
  width: 100vw;
  height: 4vw;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: solid black 0.1vw;
}

.imgheader {
    opacity: 100%;
    width: 15vw;
    margin-left: 42.5vw;
    padding-top: 1vw;
    margin-bottom: 0px;
    position: absolute;
}


#HomeHeader {
  font-size:1.15vw;
  font-style:italic;
  font-weight: 500;
  position: absolute;
  margin-left:22.14vw;
  margin-top:1.4vw
}

#ShopHeader {
  font-size:1.15vw;
  font-style:italic;
  font-weight: 500;
  position: absolute;
  margin-left:32.14vw;
  margin-top:1.4vw
}

#ContactHeader {
  font-size:1.15vw;
  font-style:italic;
  font-weight: 500;
  position: absolute;
  margin-left:65vw;
  margin-top:1.4vw
}

#AboutusHeader {
  font-size:1.15vw;
  font-style:italic;
  font-weight: 500;
  position: absolute;
  margin-left:75vw;
  margin-top:1.4vw
}

#footer {
  font-size:1vw;
  background-color: black;
  width:100vw;
  height: 13.6vw;
  margin-top:0px;
  padding-top:0px;
  color:white;
}
