body {
  font-weight: 200;
  font-family:Avenir, Arial,sans-serif;
  margin: 0vw;
  overflow-x: hidden;
}

.menuslider{
  margin-left:-80vw;width:60vw; height:200%;  position:fixed; background-color: white; z-index: 50; opacity:0%;
  border-right:solid 0.5vw black;
  box-shadow: 5vw 0vw 10vw -5vw black;
}
#menuhome{
  margin-top: 12vh;
  font-size:6vh;
  width:60vw;
  text-align: center;
  line-height: 16.5vh;
}

.menutxt{
  font-size:6vh;
  width:60vw;
  text-align: center;
  line-height: 16.5vh;
}

#menumobile{
  position: absolute;
  width:6.5vw;
  height:5vw;
  margin-left:52.5vw;
  margin-top:5vw;
  opacity:90%;
  cursor: pointer;
}


.headermobile{
  width:100vw;
  height:15vw;
  border-bottom: solid 0.4vw black;
  display:none;
}

#logoheadermobile {
  width:25vw;
  height:6.45vw;
  margin-top: 4.275vw;
  margin-left:7vw;
}

.header {
  background-color: Black;
  width: 100vw;
  height:2vw;
  margin-top:-1.65vw;
  margin-bottom: auto;
  position:static;
}

.txtheader {
    letter-spacing: 0.25vw;
    font-size: 0.9vw;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 0.75vw;
}


.whitebox {
  background: white;
  width: 100vw;
  height: 4vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
  border-bottom: solid black 0.1vw;
}

.imgheader {
    opacity: 100%;
    width: 15vw;
    margin-left: 42.5vw;
    padding-top: 1vw;
    margin-bottom: 0vw;
    position: absolute;
}


#HomeHeader {
  font-size:1.15vw;
  font-style:italic;
  font-weight: 500;
  position: absolute;
  margin-left:22.14vw;
  margin-top:1.4vw
}

#ShopHeader {
  font-size:1.15vw;
  font-style:italic;
  font-weight: 500;
  position: absolute;
  margin-left:32.14vw;
  margin-top:1.4vw
}

#ContactHeader {
  font-size:1.15vw;
  font-style:italic;
  font-weight: 500;
  position: absolute;
  margin-left:65vw;
  margin-top:1.4vw
}

#AboutusHeader {
  font-size:1.15vw;
  font-style:italic;
  font-weight: 500;
  position: absolute;
  margin-left:75vw;  
  margin-top:1.4vw
}

#footer {
  font-size:1vw;
  background-color: black;
  width:100vw;
  height: 13.6vw;
  margin-top:0vw;
  padding-top:0vw;
  color:white;
}

@media screen and (max-width:750px) {
  .headermobile {display:block;}
  .whitebox {height:12.5vw; display:none; }
  #HomeHeader {display:none;}
  #ShopHeader {display:none;}
  #ContactHeader {display:none;}
  #AboutusHeader {display:none;}
  .imgheader {width:40vw; margin-left:30vw; margin-top:2.5vw;}
  .blackbox {height:75vw; display:none;}
  .header{display:none;}
  #footer {height:20vw;margin-top:67.5vw; display: none;}
  body {overflow-x: hidden;}
  html {overflow-x: hidden;}
} 