body {
    font-weight: 200;
    font-family:Avenir, Arial,sans-serif;
    margin: 0px;
    overflow-x: hidden;
  }
  
  .header {
    background-color: Black;
    width: 100vw;
    height:2vw;
    margin-top:-1.65vw;
    margin-bottom: auto;
    position:static;
  }
  
  .txtheader {
      letter-spacing: 0.25vw;
      font-size: 0.9vw;
      color: white;
      text-align: center;
      font-weight: bold;
      padding-top: 0.75vw;
  }
  
  
  .whitebox {
    background: white;
    width: 100vw;
    height: 4vw;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom:solid black 0.1vw;
  }
  
  .imgheader {
      opacity: 100%;
      width: 15vw;
      margin-left: 42.5vw;
      padding-top: 1vw;
      margin-bottom: 0px;
      position: absolute;
  }
  
  
  #HomeHeader {
    font-size:1.15vw;
    font-style:italic;
    font-weight: 500;
    position: absolute;
    margin-left:22.14vw;
    margin-top:1.4vw
  }
  
  #ShopHeader {
    font-size:1.15vw;
    font-style:italic;
    font-weight: 500;
    position: absolute;
    margin-left:32.14vw;
    margin-top:1.4vw
  }
  
  #ContactHeader {
    font-size:1.15vw;
    font-style:italic;
    font-weight: 500;
    position: absolute;
    margin-left:65vw;
    margin-top:1.4vw
  }
  
  #AboutusHeader {
    font-size:1.15vw;
    font-style:italic;
    font-weight: 500;
    position: absolute;
    margin-left:75vw;
    margin-top:1.4vw
  }

.product-overview {
    width:auto;
    height:1200px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: white;
}

.path-product-1 {
    font-weight: 200;
    font-size: 15px;
    color: darkgrey;
    margin-top:40px
}
#product-img-1 {
    border-radius: 7.5px;
    width: 500px;
    height:500px;
    margin-top: -5px;
    position: absolute;
    opacity: 100%;
    margin-bottom: 0px;
    border: solid black 0.5px;
}
#product-img-1s {
    width: 90px;
    height: 90px;
    margin-top: 505px;
    margin-left:0px;
    position: absolute;
    opacity: 100%;
    margin-bottom: 0px;
}
#product-img-1s:hover {
    cursor: pointer;
    opacity:60%;
}

#product-img-2s {
    width: 90px;
    height: 90px;
    margin-top: 505px;
    margin-left:95px;
    position: absolute;
    opacity: 100%;
    margin-bottom: 0px;
}
#product-img-2s:hover {
    cursor: pointer;
    opacity:60%;
}

#product-img-3s {
    width: 90px;
    height: 90px;
    margin-top: 505px;
    margin-left:190px;
    position: absolute;
    opacity: 100%;
    margin-bottom: 0px;
}
#product-img-3s:hover {
    cursor: pointer;
    opacity:60%;
}

#product-img-4s {
    width: 90px;
    height: 90px;
    margin-top: 505px;
    margin-left: 285px;
    position: absolute;
    opacity: 100%;
    margin-bottom: 0px;
}
#product-img-4s:hover {
    cursor: pointer;
    opacity:60%;
}

#product-img-5s {
    width: 90px;
    height: 90px;
    margin-top: 505px;
    margin-left: 380px;
    position: absolute;
    opacity: 100%;
    margin-bottom: 0px;
}
#product-img-5s:hover {
    cursor: pointer;
    opacity:60%;
}

#name-product {
    margin-left: 535px;
    font-weight: bold;
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 0px;
}

#price-product {
    margin-top:0px;
    margin-left: 535px;
    font-size:20px;
    margin-bottom: 25px;
}

#text-dropdown {
    margin-left: 535px;
    line-height: 0px;
    margin-top:30px;

}

#Option-Dropdown{
    margin-left:535px;
}

#option-button { 
    border-radius: 7.5px;
    background-color: white;
    border-color: gray;
    border-style: solid; 
    font-size: 15px;
    width: 375px;
    height:45px;
    text-align: left;
    padding-left:10px;
    z-index: 1;
}

#option-button:hover{
    cursor:pointer;
}

#optiondropdownmenu{
    border-radius: 2px;
    position: absolute;
    background-color: white;
    height: 125px;
    margin-top:-2px;
    width:372px;
    border: black;
    border-style: solid;
    opacity:100%;
    display: none;
    z-index: 10;
}

#arrow {
    width: 15px;
    margin-left: 290px;
}

#option-1 {
    text-align: left;
    width:100%;
    height: 35px;
    margin-top: 5px;
    border: hidden;
    background-color: white;
    font-size:15px;
}

#option-1:hover {
    background-color: lightgray;
    cursor:pointer;
}

#option-2 {
    text-align: left;
    width:100%;
    height: 35px;
    margin-top: 5px;
    border: hidden;
    background-color: white;
    font-size:15px;
}

#option-2:hover {
    background-color: lightgray;
    cursor:pointer;
}

#option-3 {
    text-align: left;
    width:100%;
    height: 35px;
    margin-top: 5px;
    border: hidden;
    background-color: white;
    font-size:15px;
}

#option-3:hover {
    background-color: lightgray;
    cursor:pointer;
}



#footer {
    font-size:1vw;
    background-color: black;
    width:100vw;
    height: 13.6vw;
    margin-top:0px;
    padding-top:0px;
    color:white;
  }
