body {
    font-weight: 200;
    font-family:Avenir, Arial,sans-serif;
    margin: 0vw;
    overflow-x: hidden;
    overflow-y: visible;
  }

  .header {
    background: rgb(110,157,186);
    background: linear-gradient(90deg, rgba(110,157,186,1) 18%, rgba(0,170,255,1) 100%);  
    width: 100vw;
    height:1.5vw;
    margin-top:0vw;
    margin-bottom: auto;
    position: fixed;
    z-index:10;
    top: 0;
  }
  
  .txtheader {
      letter-spacing: 0.25vw;
      font-size: 0.8vw;
      color: white;
      margin:0;
      text-align: center;
      font-weight: bold;
      line-height: 1.5vw;
  }
  
  
  .whitebox {
    top:1.5vw;
    background: #1E1E1E;
    width: 100vw;
    height: 3vw;
    margin-top: 0vw;
    margin-bottom: 0vw;
    position: fixed;
    z-index:10;
    border-bottom: solid white 0.1vw;
    border-top: solid white 0.1vw;
  }
  
  .imgheader {
      opacity: 80%;
      width: 15vw;
      margin-left: 5vw;
      padding-top: 1vw;
      margin-bottom: 0vw;
      position: absolute;
      cursor: pointer;
  }
  
  
  #Header1 {
    font-size:1vw;
    font-style:italic;
    font-weight: 500;
    position: absolute;
    margin-left:36vw;
    padding: 0;
    height:3vw;
    width:7vw;
    line-height: 3vw;
    text-align: center;
    pointer-events: visible;
    cursor: pointer;
    color: white;
  }
  
  #Header2 {
    font-size:1vw;
    font-style:italic;
    font-weight: 500;
    position: absolute;
    margin-left:43vw;
    padding: 0;
    height:3vw;
    width:7vw;
    line-height: 3vw;
    text-align: center;
    pointer-events: visible;
    cursor: pointer;
    color: white;
  }
  
  #Header3 {
    font-size:1vw;
    font-style:italic;
    font-weight: 500;
    position: absolute;
    margin-left:50vw;
    padding: 0;
    height:3vw;
    width:7vw;
    line-height: 3vw;
    text-align: center;
    pointer-events: visible;
    cursor: pointer;
    color: white;
  }
  
  #Header4 {
    font-size:1vw;
    font-style:italic;
    font-weight: 500;
    position: absolute;
    margin-left:57vw;
    padding: 0;
    height:3vw;
    width:7vw;
    line-height: 3vw;
    text-align: center;
    pointer-events: visible;
    cursor: pointer;
    color: white;
  }
  
  #Header1:hover, #Header2:hover, #Header3:hover, #Header4:hover{
    background-color: #ADADAD ;
    color:white
  }

.product-overview {
    width:100vw;
    height:60vw;
    margin-left: 18vw;
    margin-right: 18vw;
    margin-top: 8.5vw;
    background-color: white;
}

.pathlink {
    color:black;
    font-weight:bold; 
    text-decoration: none;
}
.path-product-1 {
    font-weight: 200;
    font-size: 1vw;
    color: darkgrey;
    margin-top:3vw;
}
#div-product-1{
    width: 5vw; height:6vw; position: absolute; margin-left: -5vw; border:solid black 0.1vw; 
}

#div-product-2{
    width: 5vw; height:6vw; position: absolute; margin-left: -5vw; margin-top:7vw; 
}

#product-box{
    width:36vw; height:36vw; position:absolute; background-color: white; 
}

#product-img-1 {
    border-radius: 0.5vw;
    width: 30vw;
    height:38vw;
    margin-left: 3vw;
    position: absolute;
    opacity: 100%;
    margin-bottom: 0vw;
    object-fit:contain; 
    transition-duration: margin 1s;
}


#product-img-1s {
    padding-top:0.5vw;
    padding-bottom:0.5vw;
    height: 5vw;
    width:4.25vw;
    margin-left: 0.375vw;
    position: absolute;
    opacity: 100%;
    margin-bottom: 0vw;
}
#product-img-1s:hover {
    cursor: pointer;
}

#product-img-2s {
    padding-top:0.5vw;
    padding-bottom:0.5vw;
    height: 5vw;
    width:3.8vw;
    margin-left:0.55vw;
    position: absolute;
    opacity: 100vw;
    margin-bottom: 0vw;
}
#product-img-2s:hover {
    cursor: pointer;
}


#name-product {
    margin-left: 38vw;
    font-weight: bold;
    font-size: 2vw;
    margin-top: 2.5vw;
    margin-bottom: 0vw;
}

#price-product {
    margin-top:0vw;
    margin-left: 38vw;
    font-size:1.5vw;
    margin-bottom: 1.8vw;
}

#btw {
    font-size: 0.75vw;
}

#text-dropdown {
    margin-left: 0.25vw;
    line-height: 0vw;
    margin-top:2vw;
    font-size: 1.15vw;
}

#fulldropdown {
    width:30vw;
    margin-left: 38vw;
}


#option-button { 
    background-color: white;
    border:solid grey 0.1vw;
    font-size: 1vw;
    width: 26.5vw;
    height:2.75vw;
    text-align: left;
    z-index: 1;
    transition-duration: 0.4s;

}

#option-button:hover{
    cursor:pointer;
    border:solid #0B0B0B 0.1vw;
}


#option-1 {
    text-align: left;
    width:100%;
    height: 2.5vw;
    margin-top: 0.35vw;
    border: hidden;
    background-color: white;
    font-size:1vw;
}

#option-1:hover {
    background-color: lightgray;
    cursor:pointer;
}

#option-2 {
    text-align: left;
    width:100%;
    height: 2.5vw;
    margin-top: 0.35vw;
    border: hidden;
    background-color: white;
    font-size:1vw;
}

#option-2:hover {
    background-color: lightgray;
    cursor:pointer;
}

#option-3 {
    text-align: left;
    width:100%;
    height: 2.5vw;
    margin-top: 0.35vw;
    border: hidden;
    background-color: white;
    font-size:1vw;
}

#option-3:hover {
    background-color: lightgray;
    cursor:pointer;
}

#option-4 {
    text-align: left;
    width:100%;
    height: 2.5vw;
    margin-top: 0.35vw;
    border: hidden;
    background-color: white;
    font-size:1vw;
}

#option-4:hover {
    background-color: lightgray;
    cursor:pointer;
}

#Option-Dropdown{
    margin-left:0vw;
}

#select-option{
    position:absolute;
    margin:0vw; 
    font-size:1vw;
    margin-left:0.25vw;
}

#optiondropdownmenu{
    border-radius: 0.1vw;
    position: absolute;
    background-color: white;
    height: 11.5vw;
    margin-top:-0.15vw;
    width:26.4vw;
    border: solid grey 0.1vw;
    opacity:100%;
    display: none;
    z-index: 11;
}


#arrowdropdown {
    width: 1vw;
    margin-left: 23vw;
}

#color-div{
    background-color: white; width: 26.5vw; height:8.5vw; margin-top:1.5vw; font-size: 0;
}

#colortitle{
    font-size: 1.4vw;  padding-top: 0vw;
}

#color1 {
  cursor: pointer;
  display: inline-block;
  width:4.5vw;
  height:5vw;
  background: url("/Users/carsten/VSCode/Website/hoodies/RelentlessB.png") no-repeat;
  background-size: 3.5vw;
  background-position: 0.5vw ;
  background-color: #F0F0F0;
  border: solid grey 0.1vw;
  margin-top: -0.5vw;
}

#color2 {
  cursor: pointer;
  display: inline-block;
  width:4.5vw;
  height:5vw;
  background: url("/Users/carsten/VSCode/Website/hoodies/relentlessashgrayB.png") no-repeat;
  background-size: 3.5vw;
  background-position: 0.5vw ;
  background-color: #F0F0F0;
  border: solid grey 0.1vw;
  margin-top: -0.5vw;
  margin-left: 0.5vw;
}


#BuyNowButton {
    font-size:1.25vw;
    cursor:pointer;
    color: white;
    background-color:black;
    height:3.5vw;
    width:26.5vw; 
    margin-top:2vw;
    transition-duration: 0.4s;
}

#BuyNowButton:hover {
    background-color: #5F6868;
}

#BuyNowButtonText {
    font-size: 1.2vw;
    padding:0.9vw;
    text-align: center; 
    font-weight: 500;
}

#no-option{
    color:red; 
    display:none;
    font-size:1.25vw;
}

#information {
    width:26.5vw;
    height:3vw;
    background-color: white;
    margin-top: 2.5vw;
    border-top: solid darkgrey 0.1vw;
    border-bottom: solid darkgrey 0.1vw;
    cursor: pointer;
}

#information:hover {
    border: solid black 0.1vw;
    width:26.3vw;
    background-color: rgb(230, 230, 230);
}

#information:hover #informationhdr{ margin-left: 0.675vw;}
#information:hover #arrowinformation{ margin-left: 22.925vw;}
#information:hover #informationIn{ padding-left: 0.425vw;}


#informationhdr{
    margin-left:0.75vw;
    font-size:1vw;
    line-height: 3vw;
    margin-top:0;
    position: absolute;
    user-select: none;
}

#arrowinformation{
    height:0.55vw;
    position: absolute;
    margin-left: 23vw;
    padding-top:1.225vw;
    user-select: none;
}

#informationIn {
    padding-top: 0.1vw;
    padding-left: 0.5vw;
    width:26vw;
    height:15vw;
    margin-top:3vw;
    display: none;
    pointer-events: none;
    user-select: none;
}

#footer {
    font-size:1vw;
    background-color: black;
    width:100vw;
    height: 13.6vw;
    margin-top:0vw;
    padding-top:0vw;
    color:white;
  }

  @media screen and (max-width:750px) {
    .header {height:6vw; top:0;}
    .txtheader {line-height: 6vw; font-size: 2vw;}
    .whitebox {height:12vw; top:6vw;}
    #Header1 {height:12vw;font-size:3vw; width:20vw; margin-left: 10vw; line-height: 12vw;}
    #Header2 {height:12vw;font-size:3vw; width:20vw; margin-left: 30vw; line-height: 12vw;}
    #Header3 {height:12vw;font-size:3vw; width:20vw; margin-left: 50vw; line-height: 12vw;}
    #Header4 {height:12vw;font-size:3vw; width:20vw; margin-left: 70vw; line-height: 12vw;}
    .product-overview {margin: 0; height: 250vw; width:95vw; margin-top: 25vw;}
    #product-img-1 {width:95vw; height:95vw; opacity:100%; margin-left:2.5vw; margin-top:1vw; border-radius: 5vw; }
    #product-img-1s {position:absolute; width:20vw; height:20vw; object-fit: contain; background-color: white; display: block; margin: 0; padding-left: 0.5vw; padding-right: 0.5vw;}
    #product-img-2s {position:absolute; width:20vw; height:20vw; object-fit: contain; background-color: white; display: block; margin: 0; padding-left: 0.5vw; padding-right: 0.5vw;}
    #div-product-1 {margin-top: 97.5vw; margin-left: 5vw; width:21vw; height: 21vw;}
    #div-product-2 {margin-top: 97.5vw; margin-left: 30vw; width:21vw; height: 21vw;}
    .path-product-1 {display:none;}
    .pathlink {display:none;}
    #name-product {position: absolute; margin-top: 125vw; font-size:7.5vw;width:80vw; text-align: left; padding:0vw; margin-left:10vw; text-align: center;}
    #price-product {position: absolute; margin-top:135vw; width:30vw;font-size:5vw; margin-left:35vw; text-align: center;}
    #btw{position:absolute;font-size: 2vw; width: 9vw; margin-top: 2.6vw; margin-left: 0.5vw;}
    #fulldropdown {position:absolute;margin-top:145vw;margin-left: 0vw;}
    #option-button {width:90vw; height:10vw; margin-left: 5vw;}
    #text-dropdown {font-size: 4vw; width:30vw; margin-left: 35vw; text-align: center; margin-bottom:5vw; margin-top: 5vw;}
    #select-option {font-size:3.5vw; margin-top:-0.5vw; margin-left: 3vw;}
    #BuyNowButton {width:90vw; height:10vw; margin-top:7.5vw; margin-left:5vw;}
    #BuyNowButtonText {font-size:3.5vw; line-height: 10vw; margin: 0; padding: 0;}
    #optiondropdownmenu {width:90vw; margin-left:5vw; height:46vw;}
    #option-1 {height:10vw; font-size:3vw; margin-top:1.4vw; }
    #option-2 {height:10vw; font-size:3vw; margin-top:1.4vw;}
    #option-3 {height:10vw; font-size:3vw; margin-top:1.4vw;}
    #option-4 {height:10vw; font-size:3vw; margin-top:1.4vw;}
    #arrowdropdown {height:2.5vw; margin-left:80vw;}
    #color-div{width:90vw; margin-left: 5vw; height: 25vw; margin-top: 5vw;}
    #colortitle{font-size:4vw; text-align: center; padding: 0; }
    #color1{width:17.5vw; height: 17.5vw; background-size: 12.5vw; background-position: 2.5vw; margin-left: 26.5vw;}
    #color2{width:17.5vw; height: 17.5vw; background-size: 12.5vw; background-position: 2.5vw; margin-left: 2vw;}
    #information{ width: 90vw; height: 10vw; margin-left: 5vw; margin-top: 10vw; border-top: solid darkgray 0.4vw; border-bottom: solid darkgray 0.4vw; border-left:solid white 0.1vw; border-right: solid white 0.1vw;}
    #information:hover{ width:90vw; height: 10vw;}
    #information:hover #informationhdr {margin-left: 2.5vw;}
    #information:hover #arrowinformation {margin-left: 81vw;}
    #information:hover #informationIn {margin-top:8vw; padding-left: 2vw;}
    #informationhdr{font-size: 4vw; line-height: 10vw; width:50vw; margin-left: 2.5vw;}
    #arrowinformation{height: 2.5vw; margin-left: 81vw; padding: 0; margin-top: 3.75vw;}
    #informationIn {width:90vw; margin-top: 8vw; padding-left: 2vw;}
    #no-option{margin-top:-20vw; font-size:4vw; width:40vw; margin-left: 30vw;}
    #footer {display: none; }
    }

    