body {
    font-weight: 200;
    font-family:Avenir, Arial,sans-serif;
    margin: 0px;
    overflow-x: hidden;
  }
  
  .header {
    background-color: Black;
    width: 100%;
    height:30px;
    margin-top: -20px;
    margin-bottom: auto;
    position:static;
  }
  
  .txtheader {
      color: white;
      text-align: center;
      font-weight: bold;
      padding-top: 7px;
  }
  
  
  .whitebox {
    background: white;
    width: 100%;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
  
  }
  #menu {
    display:none;
  }
  #HOME {
  text-decoration: none;
  color:white;
  padding-left:140px;
  padding-right:150px;
  font-size: 50px; 
  font-weight:bold; 
  margin-top:60px; 
  padding-top:3cqmin; 
  padding-bottom:60px;
  position:fixed;
  line-height: 0px;
}
#HOME:hover{
  color:#3300FF;
  cursor:pointer;
}

#SHOP {
  text-decoration: none;
  color:white;
  padding-left:145px;
  padding-right:155px;  
  font-size: 50px; 
  font-weight:bold; 
  margin-top:260px;
  padding-top:30px; 
  padding-bottom:60px;
  position:fixed;
  line-height: 0px;
}
#SHOP:hover{
  color:#3300FF;
  cursor:pointer;
}
#ABOUTUS {
  text-decoration: none;
  color:white;
  padding-left:80px;
  padding-right:74.5px;  
  font-size: 50px; 
  font-weight:bold; 
  margin-top:460px;
  padding-top:30px; 
  padding-bottom:60px; 
  position:fixed;
  line-height: 0px;
}
#ABOUTUS:hover{
  color:#3300FF;
  cursor:pointer;
}

#CONTACT {
  text-decoration: none;
  color:white;
  padding-left:87.5px;
  padding-right:92.5px;
  font-size: 50px; 
  font-weight:bold;
  margin-top:660px;
  padding-top:30px; 
  padding-bottom:60px; 
  position:fixed;
  line-height: 0px;
}
#CONTACT:hover{
  color:#3300FF;
  cursor:pointer;
}
  
  
  .imgheader {
      width: 30%;
      height: 37.5px;
      margin-left: 35%;
      margin-right: 35%;
      padding-top: 31.25px;
      padding-bottom:31.25px;
      margin-bottom: 0px;
      position: absolute;
  }


  .product-img {
    height:265px;
    width:265px;
    position: absolute;
  }
  
  .product-img:hover {
    opacity: 65%;
  }
  
  .product-txt {
    color:black;
    position: absolute;
    line-height:0px;
    margin-top: 280px;
    padding-left: 5px;
    padding-right:5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .product-txt:hover {
    opacity: 65%;
  }
  
  .product-price {
    color:black;
    position: absolute;
    margin-top: 310px;
    line-height:0px;
    padding-left: 5px;
    padding-right:5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  
  .product-price:hover {
    opacity: 65%;
  }
  
  #product-1-div {
    background-color: white;
    border: solid white 4px;
    position: absolute;
    height: 300px;
    width:265px;
    margin-top:40px;
    margin-bottom: 70px;
    margin-left: 40px;
    padding-bottom: 30px;
  }
  #product-2-div {
    background-color: white;
    border: solid white 4px;
    position: absolute;
    height: 300px;
    width:265px;
    margin-top:40px;
    margin-bottom: 70px;
    margin-left: 345px;
    padding-bottom: 30px;
  }
  #product-3-div {
    background-color: white;
    border: solid white 4px;
    position: absolute;
    height: 300px;
    width:265px;
    margin-top:40px;
    margin-bottom: 70px;
    margin-left: 650px;
    padding-bottom: 30px;
  }
  #product-4-div {
    background-color: white;
    border: solid white 4px;
    position: absolute;
    height: 300px;
    width:265px;
    margin-top:40px;
    margin-bottom: 70px;
    margin-left: 955px;
    padding-bottom: 30px;
  }
  
  #product-5-div {
    background-color: white;
    border: solid white 4px;
    position: absolute;
    height: 300px;
    width:265px;
    margin-top:440px;
    margin-bottom: 70px;
    margin-left: 40px;
    padding-bottom: 30px;
  }

  #product-6-div {
    background-color: white;
    border: solid white 4px;
    position: absolute;
    height: 300px;
    width:265px;
    margin-top:440px;
    margin-bottom: 70px;
    margin-left: 345px;
    padding-bottom: 30px;
  }

  #product-7-div {
    background-color: white;
    border: solid white 4px;
    position: absolute;
    height: 300px;
    width:265px;
    margin-top:440px;
    margin-bottom: 70px;
    margin-left: 660px;
    padding-bottom: 30px;
  }
  #product-8-div {
    background-color: white;
    border: solid white 4px;
    position: absolute;
    height: 300px;
    width:265px;
    margin-top:440px;
    margin-bottom: 70px;
    margin-left: 965px;
    padding-bottom: 30px;
  }
