body {
  font-weight: 200;
  font-family:Avenir, Arial,sans-serif;
  margin: 0vw;
  overflow-x: hidden;
}

.header {
  background-color: Black;
  width: 100vw;
  height:2vw;
  margin-top:-1.65vw;
  margin-bottom: auto;
  position:static;
}

.txtheader {
    letter-spacing: 0.25vw;
    font-size: 0.9vw;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 0.75vw;
}


.whitebox {
  background: white;
  width: 100vw;
  height: 4vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
  border-bottom: solid black 0.1vw;
}

.imgheader {
    opacity: 100%;
    width: 15vw;
    margin-left: 42.5vw;
    padding-top: 1vw;
    margin-bottom: 0vw;
    position: absolute;
}


#HomeHeader {
  font-size:1.15vw;
  font-style:italic;
  font-weight: 500;
  position: absolute;
  margin-left:22.14vw;
  margin-top:1.4vw
}

#ShopHeader {
  font-size:1.15vw;
  font-style:italic;
  font-weight: 500;
  position: absolute;
  margin-left:32.14vw;
  margin-top:1.4vw
}

#ContactHeader {
  font-size:1.15vw;
  font-style:italic;
  font-weight: 500;
  position: absolute;
  margin-left:65vw;
  margin-top:1.4vw
}

#AboutusHeader {
  font-size:1.15vw;
  font-style:italic;
  font-weight: 500;
  position: absolute;
  margin-left:75vw;
  margin-top:1.4vw
}

.blackbox {
  font-weight: bold;
  background-color: black;
  width: 100vw;
  height: 32.5vw;
  margin-top: 0vw;

}

#earthimg {
  position: absolute;
  height:32.5vw;
  width: 100%;
  opacity: 65%;
}

.biglogoimg {
  position: absolute;
  width: 40vw;
  margin-top:5.5vw;
  margin-bottom: 0vw;
  margin-left: 30vw;
}

#subtitle {
  position: absolute;
  z-index: 10;
  width: 60vw;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-align: center;
  margin-top: 15vw;
  margin-bottom: 0vw;
  margin-left:20vw;
  margin-right:20vw;
  font-size: 1.75vw;

}

.shopnowbox {
  border-radius: 0.5vw;
  position: absolute;
  z-index: 10;
  width: 15vw;
  height: 5vw;
  background: transparent;
  margin-left:42.5vw;
  margin-top: 22.5vw;
  border-style: solid;
  border-color: white;

}

#shopnowtxt {
  font-size:1.25vw;
  position: absolute;
  font-weight: bold;  
  width: 85%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  height: 100%;
  color:white;
  text-align: center;
  margin:0vw;
  padding-top:11.125%;
}

.shopnowbox:hover {
  background: white;
  cursor: pointer;
}

#shopnowtxt:hover {
  color:black;
  font-weight: bold;
}

.fc {
  width: 100vw;
  height:57.5vw;
  background-color: white;
}

#fctext {
  font-weight: bold;
  width:37vw;
  color: black;
  font-size: 4vw;
  margin-left:31.5vw;
  margin-top: 5vw;
  margin-bottom: 0vw;
  text-decoration: underline;
}

#bestproducts {
  font-size:2vw;
  margin-top: 2vw;
  margin-bottom: 0.5vw;
  margin-left: 3vw;
}

#products-slider {
  border-top: black solid 0.1vw;
  border-bottom: black solid 0.1vw;
  position: relative;
  overflow-x: scroll;
  margin-top: 0vw;
  height: 37vw;
  width: 100vw;
  margin: 0vw;
  background-color:#EAEAEA;
  scrollbar-width: none;  
  -ms-overflow-style: none;  
}

#products-slider::-webkit-scrollbar {
  display:none;
}



.product1-img {
  border-radius: 0.75vw;
  margin-top:2.25vw;
  margin-left:3vw;
  height:32.5vw;
  width:32.5vw;;
  position: absolute;
}

.product1-img:hover {
  opacity: 65%;
}

.product1-txt {
  text-shadow: 0vw -0.12vw 0.5vw black;
  text-shadow: 0vw 0.12vw 0.5vw black;
  font-size:1.5vw;
  margin-left:3vw;
  font-weight: bold;
  color:white;
  position: absolute;
  line-height:0vw;
  margin-top: 31.5vw;
  padding-left: 0.7vw;
  padding-right:0.35vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product1-txt:hover {
  opacity: 65%;
}

.product1-price {
  text-shadow: 0vw -0.12vw 0.5vw black;
  text-shadow: 0vw 0.12vw 0.5vw black;
  font-size:1.25vw;
  font-weight: bold;
  color:white;  position: absolute;
  margin-top: 33.5vw;
  line-height:0vw;
  margin-left:3vw;
  padding-left: 0.7vw;
  padding-right:0.35vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.product1-price:hover {
  opacity: 65%;
}

/* Product 2*/
.product2-img {
  border-radius: 0.75vw;
  margin-top:2.25vw;
  margin-left:38.5vw;
  height:32.5vw;
  width:32.5vw;;
  position: absolute;
}

.product2-img:hover {
  opacity: 65%;
}

.product2-txt {
  text-shadow: 0vw -0.12vw 0.5vw black;
  text-shadow: 0vw 0.12vw 0.5vw black;
  font-size:1.5vw;
  margin-left:38.5vw;
  font-weight: bold;
  color:white;
  position: absolute;
  line-height:0vw;
  margin-top: 31.5vw;
  padding-left: 0.7vw;
  padding-right:0.35vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product2-txt:hover {
  opacity: 65%;
}

.product2-price {
  text-shadow: 0vw -0.12vw 0.5vw black;
  text-shadow: 0vw 0.12vw 0.5vw black;
  font-size:1.25vw;
  font-weight: bold;
  color:white;  position: absolute;
  margin-top: 33.5vw;
  line-height:0vw;
  margin-left:38.5vw;
  padding-left: 0.7vw;
  padding-right:0.35vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.product2-price:hover {
  opacity: 65%;
}
/* Product 3*/
.product3-img {
  border-radius: 0.75vw;
  margin-top:2.25vw;
  margin-left:74vw;
  height:32.5vw;
  width:32.5vw;;
  position: absolute;
}

.product3-img:hover {
  opacity: 65%;
}

.product3-txt {
  text-shadow: 0vw -0.12vw 0.5vw black;
  text-shadow: 0vw 0.12vw 0.5vw black;
  font-size:1.5vw;
  margin-left:74vw;
  font-weight: bold;
  color:white;
  position: absolute;
  line-height:0vw;
  margin-top: 31.5vw;
  padding-left: 0.7vw;
  padding-right:0.35vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product3-txt:hover {
  opacity: 65%;
}

.product3-price {
  text-shadow: 0vw -0.12vw 0.5vw black;
  text-shadow: 0vw 0.12vw 0.5vw black;
  font-size:1.25vw;
  font-weight: bold;
  color:white;  position: absolute;
  margin-top: 33.5vw;
  line-height:0vw;
  margin-left:74vw;
  padding-left: 0.7vw;
  padding-right:0.35vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.product3-price:hover {
  opacity: 65%;
}

#arrowleft {
  display:none;margin-left:2.5vw;width:6.5vw; margin-top:37.5vw; position:absolute;
}

#arrowleft:hover {
  cursor:pointer;
  opacity: 35%;
}

#arrowright {
  display:none;margin-left:90.5vw;width:6.5vw; margin-top:37.5vw; position:absolute;
}

#arrowright:hover {
  cursor:pointer;
  opacity: 35%;
}

#footer {
  font-size:1vw;
  background-color: black;
  width:100vw;
  height: 13.6vw;
  margin-top:0vw;
  padding-top:0vw;
  color:white;
}

@media screen and (max-width:481px) {
  .blackbox{display:none;}
  .header{display:none;}
  .whitebox{background-color: black; height:14vw}
  .imgheader{content: url("logonobackgrounWhite.png"); width:56.25vw; margin-left:21.89vw; padding-top:3.35vw}
  #menubutton{content: url("MenuBlack.png"); width:7.5vw; margin-top:3.75vw; margin-left:86.7vw;}
  .fc {height: 57.5vw;}
  #fctext{margin-top:5vw;font-size:7.5vw; width:100vw; margin-left:15vw;}
  #bestproducts{font-size:5vw; margin-bottom: 0vw; margin-top:7.5vw}
  #products-slider {background-color:white;height:100vw; border: 0p;}
  #footer {height:20vw;margin-top:67.5vw;}
  .product-img {width:75vw; height:75vw; margin-left: 12.5vw;}
  .product-txt {font-weight:300;color:darkgray;margin-top:81.5vw; font-size:4vw; margin-left: 12.5vw;}
  .product-price {font-weight:300;color:darkgray;margin-top:87.5vw; font-size:3.5vw; margin-left: 12.5vw;}
  #arrowleft {display:block;}
  #arrowright {display:block;}
} 
  
