body {
  font-weight: 200;
  font-family:Avenir, Arial,sans-serif;
  margin: 0vw;
  overflow-x: hidden;
}

.header {
  background-color: Black;
  width: 100vw;
  height:2vw;
  margin-top:-1.65vw;
  margin-bottom: auto;
  position:static;
}

.txtheader {
    letter-spacing: 0.25vw;
    font-size: 0.8vw;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 0.9vw;
}


.whitebox {
  background: white;
  width: 100vw;
  height: 4vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
  border-bottom: solid black 0.1vw;
}

.imgheader {
    opacity: 100%;
    width: 15vw;
    margin-left: 42.5vw;
    padding-top: 1vw;
    margin-bottom: 0vw;
    position: absolute;
}


#HomeHeader {
  font-size:1.15vw;
  font-style:italic;
  font-weight: 500;
  position: absolute;
  margin-left:22.14vw;
  margin-top:1.4vw
}

#ShopHeader {
  font-size:1.15vw;
  font-style:italic;
  font-weight: 500;
  position: absolute;
  margin-left:32.14vw;
  margin-top:1.4vw
}

#ContactHeader {
  font-size:1.15vw;
  font-style:italic;
  font-weight: 500;
  position: absolute;
  margin-left:65vw;
  margin-top:1.4vw
}

#AboutusHeader {
  font-size:1.15vw;
  font-style:italic;
  font-weight: 500;
  position: absolute;
  margin-left:75vw;
  margin-top:1.4vw
}

.blackbox {
  font-weight: bold;
  background-color: black;
  width: 100vw;
  height: 27.5vw;
  margin-top: 0vw;

}

#earthimg {
  position: absolute;
  height:27.5vw;
  width: 100%;
  opacity: 65%;
}

.biglogoimg {
  position: absolute;
  width: 35vw;
  margin-top:5vw;
  margin-bottom: 0vw;
  margin-left: 32.5vw;
}

#subtitle {
  position: absolute;
  z-index: 10;
  width: 30vw;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-align: center;
  margin-top: 14vw;
  margin-bottom: 0vw;
  margin-left:35vw;
  margin-right:20vw;
  font-size: 1.5vw;

}

.shopnowbox {
  border-radius: 0.7vw;
  position: absolute;
  width: 10vw;
  height: 4vw;
  background: transparent;
  margin-left:45vw;
  margin-top: 20vw;
  border: solid white 0.2vw;
}

#shopnowtxt {
  font-size:1vw;
  position: absolute;
  font-weight: bold;  
  width: 85%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  height: 100%;
  color:white;
  text-align: center;
  margin:0vw;
  padding-top:12.5%;
}

.shopnowbox:hover {
  background: white;
  cursor: pointer;
}

#shopnowtxt:hover {
  color:black;
  font-weight: bold;
}

.fc {
  width: 100vw;
  height:55vw;
  background-color: white;
}

#fctext {
  font-weight: bold;
  width:30vw;
  color: black;
  font-size: 3vw;
  margin-left:35vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

#bestproducts {
  font-size:2vw;
  margin-top: 0vw;
  margin-bottom: 0.5vw;
  margin-left: 3vw;
}

#products-slider {
  border-top: black solid 0.1vw;
  border-bottom: black solid 0.1vw;
  position: relative;
  overflow-x: scroll;
  margin-top: 0vw;
  height: 32.5vw;
  width: 100vw;
  margin: 0vw;
  background-color:#E3E3E3;
  scrollbar-width: none;  
  -ms-overflow-style: none;  
}

#products-slider::-webkit-scrollbar {
  display:none;
}


.product1-img {
  border-radius: 0.75vw;
  margin-top:2.25vw;
  margin-left:3vw;
  height:27.5vw;
  width:27.5vw;;
  position: absolute;
}

.product1-img:hover {
  opacity: 65%;
}

.product1-txt {
  text-shadow: 0vw -0.12vw 0.5vw black;
  text-shadow: 0vw 0.12vw 0.5vw black;
  font-size:1.25vw;
  margin-left:3vw;
  font-weight: bold;
  color:white;
  position: absolute;
  line-height:0vw;
  margin-top: 26vw;
  padding-left: 0.7vw;
  padding-right:0.35vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product1-txt:hover {
  opacity: 65%;
}

.product1-price {
  text-shadow: 0vw -0.12vw 0.5vw black;
  text-shadow: 0vw 0.12vw 0.5vw black;
  font-size:1.1vw;
  font-weight: bold;
  color:white;  position: absolute;
  margin-top: 28vw;
  line-height:0vw;
  margin-left:3vw;
  padding-left: 0.7vw;
  padding-right:0.35vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.product1-price:hover {
  opacity: 65%;
}

/* Product 2*/
.product2-img {
  border-radius: 0.75vw;
  margin-top:2.25vw;
  margin-left:33vw;
  height:27.5vw;
  width:27.5vw;;
  position: absolute;
}

.product2-img:hover {
  opacity: 65%;
}

.product2-txt {
  text-shadow: 0vw -0.12vw 0.5vw black;
  text-shadow: 0vw 0.12vw 0.5vw black;
  font-size:1.25vw;
  margin-left:33vw;
  font-weight: bold;
  color:white;
  position: absolute;
  line-height:0vw;
  margin-top: 26vw;
  padding-left: 0.7vw;
  padding-right:0.35vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product2-txt:hover {
  opacity: 65%;
}

.product2-price {
  text-shadow: 0vw -0.12vw 0.5vw black;
  text-shadow: 0vw 0.12vw 0.5vw black;
  font-size:1.1vw;
  font-weight: bold;
  color:white;  position: absolute;
  margin-top: 28vw;
  line-height:0vw;
  margin-left:33vw;
  padding-left: 0.7vw;
  padding-right:0.35vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.product2-price:hover {
  opacity: 65%;
}

/* Product 3*/
.product3-img {
  border-radius: 0.75vw;
  margin-top:2.25vw;
  margin-left:63vw;
  height:27.5vw;
  width:27.5vw;;
  position: absolute;
}

.product3-img:hover {
  opacity: 65%;
}

.product3-txt {
  text-shadow: 0vw -0.12vw 0.5vw black;
  text-shadow: 0vw 0.12vw 0.5vw black;
  font-size:1.25vw;
  margin-left:63vw;
  font-weight: bold;
  color:white;
  position: absolute;
  line-height:0vw;
  margin-top: 26vw;
  padding-left: 0.7vw;
  padding-right:0.35vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product3-txt:hover {
  opacity: 65%;
}

.product3-price {
  text-shadow: 0vw -0.12vw 0.5vw black;
  text-shadow: 0vw 0.12vw 0.5vw black;
  font-size:1.1vw;
  font-weight: bold;
  color:white;  position: absolute;
  margin-top: 28vw;
  line-height:0vw;
  margin-left:63vw;
  padding-left: 0.7vw;
  padding-right:0.35vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.product3-price:hover {
  opacity: 65%;
}


#footer {
  font-size:1vw;
  background-color: black;
  width:100vw;
  height: 13.6vw;
  margin-top:0vw;
  padding-top:0vw;
  color:white;
}

@media screen and (max-width:481px) {
  .whitebox {height:15vw; display:none;}
  .blackbox {height:50vw;}
  #earthimg {height:50vw;}
  .biglogoimg {width: 70vw; margin-left:15vw; margin-top:8vw;}
  #subtitle {width: 92vw; margin-left:4vw; margin-top:23vw;font-size:2.7vw;}
  .shopnowbox {width:25vw; height:10vw; margin-left:37.5vw;margin-top:32.5vw; border-width: 0.5vw; border-radius: 1.5vw;}
  #shopnowtxt {font-size: 2.75vw; padding-top:12.5%;}
  .header{display:none;}
  .fc {height: 57.5vw;}
  #fctext{margin-top:5vw;margin-bottom:10vw;font-size:7.5vw; width:100vw; margin-left:15vw;}
  #bestproducts{font-size:5vw; margin-bottom: 0vw; margin-top:7.5vw}
  #products-slider {background-color:white;height:300vw; border: 0p; border: none;}
  #footer {height:20vw;margin-top:67.5vw;}
  .product1-img {width:75vw; height:75vw; margin-left: 12.5vw;}
  .product1-txt {font-weight:300;color:black;margin-top:81.5vw; font-size:4vw; margin-left: 12.5vw; text-shadow: none;}
  .product1-price {font-weight:300;color:black;margin-top:87.5vw; font-size:3.5vw; margin-left: 12.5vw; text-shadow: none;}
  .product2-img {width:75vw; height:75vw; margin-left: 12.5vw; margin-top:100vw;}
  .product2-txt {font-weight:300;color:black;margin-top:181.5vw; font-size:4vw; margin-left: 12.5vw; text-shadow: none;}
  .product2-price {font-weight:300;color:black;margin-top:187.5vw; font-size:3.5vw; margin-left: 12.5vw; text-shadow: none;}
  .product3-img {width:75vw; height:75vw; margin-left: 12.5vw; margin-top:200vw;}
  .product3-txt {font-weight:300;color:black;margin-top:281.5vw; font-size:4vw; margin-left: 12.5vw; text-shadow: none;}
  .product3-price {font-weight:300;color:black;margin-top:287.5vw; font-size:3.5vw; margin-left: 12.5vw; text-shadow: none;}

} 
