body {
  font-weight: 200;
  font-family:Avenir, Arial,sans-serif;
  margin: 0px;
  overflow-x: hidden;
}

.header {
  background-color: Black;
  width: 100vw;
  height:2vw;
  margin-top:-1.65vw;
  margin-bottom: auto;
  position:static;
}

.txtheader {
    letter-spacing: 0.25vw;
    font-size: 0.9vw;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 0.75vw;
}


.whitebox {
  background: white;
  width: 100vw;
  height: 6.7vw;
  margin-top: 0px;
  margin-bottom: 0px;

}
#menu {
  display:none;
}
#HOME {
  text-decoration: none;
  color:white;
  padding-left:140px;
  padding-right:150px;
  font-size: 50px; 
  font-weight:bold; 
  margin-top:60px; 
  padding-top:3cqmin; 
  padding-bottom:60px;
  position:fixed;
  line-height: 0px;
}
#HOME:hover{
  color:#3300FF;
  cursor:pointer;
}

#SHOP {
  text-decoration: none;
  color:white;
  padding-left:145px;
  padding-right:155px;  
  font-size: 50px; 
  font-weight:bold; 
  margin-top:260px;
  padding-top:30px; 
  padding-bottom:60px;
  position:fixed;
  line-height: 0px;
}
#SHOP:hover{
  color:#3300FF;
  cursor:pointer;
}
#ABOUTUS {
  text-decoration: none;
  color:white;
  padding-left:75.5px;
  padding-right:74.5px;  
  font-size: 50px; 
  font-weight:bold; 
  margin-top:460px;
  padding-top:30px; 
  padding-bottom:60px; 
  position:fixed;
  line-height: 0px;
}
#ABOUTUS:hover{
  color:#3300FF;
  cursor:pointer;
}

#CONTACT {
  text-decoration: none;
  color:white;
  padding-left:87.5px;
  padding-right:92.5px;
  font-size: 50px; 
  font-weight:bold;
  margin-top:660px;
  padding-top:30px; 
  padding-bottom:60px; 
  position:fixed;
  line-height: 0px;
}
#CONTACT:hover{
  color:#3300FF;
  cursor:pointer;
}

.imgheader {
    width: 25vw;
    margin-left: 37.5vw;
    padding-top: 1.5vw;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
}

#menubutton {
  position:absolute;
  margin-top:1.3vw;
  margin-left:90vw;
  width:4.2vw;
}


.blackbox {
  font-weight: bold;
  background-color: black;
  width: 100vw;
  height: 32.5vw;
  margin-top: 0px;

}

#earthimg {
  position: absolute;
  height:32.5vw;
  width: 100%;
  opacity: 65%;
}

.biglogoimg {
  position: absolute;
  width: 40vw;
  margin-top:5.5vw;
  margin-bottom: 0px;
  margin-left: 30vw;
}

#subtitle {
  position: absolute;
  z-index: 10;
  width: 60vw;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-align: center;
  margin-top: 15vw;
  margin-bottom: 0px;
  margin-left:20vw;
  margin-right:20vw;
  font-size: 1.75vw;

}

.shopnowbox {
  position: absolute;
  z-index: 10;
  width: 15vw;
  height: 5vw;
  background: transparent;
  margin-left:42.5vw;
  margin-top: 22.5vw;
  border-style: solid;
  border-color: white;

}

#shopnowtxt {
  font-size:1.25vw;
  position: absolute;
  font-weight: bold;  
  width: 85%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  height: 100%;
  color:white;
  text-align: center;
  margin:0px;
  padding-top:11.125%;
}

.shopnowbox:hover {
  background: white;
  cursor: pointer;
}

#shopnowtxt:hover {
  color:black;
  font-weight: bold;
}

.fc {
  width: 100vw;
  height:57.5vw;
  background-color: white;
}

#fctext {
  font-weight: bold;
  width:37vw;
  color: black;
  font-size: 4vw;
  margin-left: 31.5vw;
  margin-top:6vw;
  margin-bottom: 0px;
}

#bestproducts {
  font-size:2vw;
  margin-top: 2vw;
  margin-left: 3vw;
}

#products-slider {
  position: relative;
  overflow-x: scroll;
  margin-top: 0px;
  height: 37vw;
  width: 100vw;
  margin: 0px;
  background-color:#ededed;
}


.product-img {
  margin-top:2.25vw;
  margin-left:3vw;
  height:32.5vw;
  width:32.5vw;;
  position: absolute;
}

.product-img:hover {
  opacity: 65%;
}

.product-txt {
  font-size:1.5vw;
  margin-left:3vw;
  font-weight: bold;
  color:white;
  position: absolute;
  line-height:0px;
  margin-top: 31.5vw;
  padding-left: 0.35vw;
  padding-right:0.35vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product-txt:hover {
  opacity: 65%;
}

.product-price {
  font-size:1.25vw;
  font-weight: bold;
  color:white;  position: absolute;
  margin-top: 33.5vw;
  line-height:0px;
  margin-left:3vw;
  padding-left: 0.35vw;
  padding-right:0.35vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.product-price:hover {
  opacity: 65%;
}

#arrowleft {
  display:none;margin-left:2.5vw;width:6.5vw; margin-top:37.5vw; position:absolute;
}

#arrowleft:hover {
  cursor:pointer;
  opacity: 35%;
}

#arrowright {
  display:none;margin-left:90.5vw;width:6.5vw; margin-top:37.5vw; position:absolute;
}

#arrowright:hover {
  cursor:pointer;
  opacity: 35%;
}

#footer {
  background-color: black;
  font-weight:550;
  width:100vw;
  height: 14vw;
  margin-top:1vw;
  padding-top:0px;
  color:white;
  
}

@media screen and (max-width:481px) {
  .blackbox{display:none;}
  .header{display:none;}
  .whitebox{background-color: black; height:14vw}
  .imgheader{content: url("logonobackgrounWhite.png"); width:56.25vw; margin-left:21.89vw; padding-top:3.35vw}
  #menubutton{content: url("MenuBlack.png"); width:7.5vw; margin-top:3.75vw; margin-left:86.7vw;}
  .fc {height: 57.5vw;}
  #fctext{margin-top:5vw;font-size:7.5vw; width:100vw; margin-left:15vw;}
  #bestproducts{font-size:5vw; margin-bottom: 0px; margin-top:7.5vw}
  #products-slider {background-color:white;height:100vw; border: 0p;}
  #footer {height:20vw;margin-top:67.5vw;}
  .product-img {width:75vw; height:75vw; margin-left: 12.5vw;}
  .product-txt {font-weight:300;color:darkgray;margin-top:81.5vw; font-size:4vw; margin-left: 12.5vw;}
  .product-price {font-weight:300;color:darkgray;margin-top:87.5vw; font-size:3.5vw; margin-left: 12.5vw;}
  #arrowleft {display:block;}
  #arrowright {display:block;}
} 
  
